* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-style: normal;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    max-width: 100%;
    font-size: 100%;
    font-style: normal;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.main-inner-container-wrapper {
    display: flex;
    position: fixed;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    width: 100%;
    color: white;
    font-size: 1rem;
    z-index: 10;
    padding: 0.75rem 1rem;
    background-image: linear-gradient(to right, rgb(7, 13, 23), rgb(8, 50, 82), rgb(11, 48, 112), rgb(8, 50, 82), rgb(7, 13, 23));
}

.first-inner-container {
    display: flex;
    margin: 0px auto;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
    background-color: rgb(18, 29, 51);
    position: fixed;
    top: 40px;
}

.inner-first-container {
    position: relative;
    box-sizing: content-box;
    margin: 0px auto;
    max-width: 80rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 1rem;
    width: 100%;
    height: 4.75rem;
}

.first-first-container {
    text-decoration: none;
    color: var(--grey900);
}

.first-first-container svg{
    flex-shrink: 0;
    margin-right: 1.5rem;
    color: rgb(255, 255, 255);
}

.first-second-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.first-second-container span {
    color: rgb(204, 210, 222);
    transition: color 500ms ease 0s, background-color 500ms ease 0s;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    position: relative;
    width: 100%;
    min-width: 4.75rem;
    margin-right: 1.25rem;
}

.first-third-container {
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.third-first-third {
    margin-right: 1.25rem;
}

.third-first-third button {
    background: none rgba(255, 255, 255, 0.1);
    border: none;
    padding: 0px;
    color: rgb(255, 255, 255);
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 2.75rem;
    transition: background-color 300ms ease-in-out 0s;
}

.second-first-third-container {
    margin-right: 1.25rem;
    height: 44px;
    text-decoration: none;
    color: var(--grey900);
    background-color: transparent;
}

.third-first-button {
    font-size: 14px;
    width: auto;
    height: 44px;
    padding: 10px 14px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background: none;
    margin-right: 10px;
}

.third-second-button {
    font-size: 14px;
    width: auto;
    height: 44px;
    padding: 10px 14px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    color: none;
    background-color: white;
}

.second-main-container {
    position: relative;
    top: -7.25rem;
    padding-top: 7.25rem;
    margin-bottom: -7.25rem;
}

.second-inner-container {
    padding-top: 7.25rem;
    background-color: rgb(20, 70, 153);
    background-image: url(images/background\ image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: rgb(255, 255, 255);
}

.inner-second-container {
    box-sizing: content-box;
    max-width: 62.5rem;
    margin: 0px auto;
    padding: 0px 2.5rem;
}

.second-first-container {
    max-width: 46.6875rem;
    padding: 10.625rem 0px;
}

.second-first-container h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.625rem;
}

.second-first-container p {
    margin-bottom: 2rem;
    font-size: 1.60rem;
    font-weight: 500;
    line-height: 2.125rem;
}

.second-second-container {
    display: flex;
    gap: 1rem;
}

.second-second-container input {
    width: 100%;
    max-width: 24.1875rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(255, 255, 255);
}

.second-second-container button {
    background-color: rgb(236, 245, 254);
    color: rgb(12, 108, 242);
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem 1.375rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    background: rgb(255, 255, 255);
}

.third-main-container-wrapper {
    box-sizing: content-box;
    max-width: 62.5rem;
    margin: 0px auto;
    padding: 0px 2.5rem;
}

.third-main-wrapper {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: -207px;
}

.main-inner-container-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 62.5rem;
    width: 100%;
}

.inner-container-wrapper {
    width: 100%;
    text-align: center;
}

.container-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, auto));
    gap: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 1.25rem;
}

.link-container-wrapper {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 0.5rem;
    box-shadow: rgba(103, 113, 133, 0.2) 0.75rem 1.5rem 4rem 0rem;
    color: rgb(18, 29, 51);
    min-width: 0px;
    padding: 1.25rem;
    transition: background-image 0.6s ease 0s;
}

.prine-head {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.prine-head img {
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
}

.prince-head-one {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 170px;
    gap: 0.5rem;
}

.btn1 {
    background-color: rgb(239, 236, 254);
    border-radius: 0.25rem;
    border: none;
    color: rgb(83, 34, 229);
    cursor: pointer;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition: background-color 0.3s ease 0s;
}

.btn2 {
    background-color: rgb(230, 250, 236);
    color: rgb(0, 153, 76);
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition: background-color 0.3s ease 0s;
}

.prince-middle {
    display: flex;
    margin-bottom: 0.25rem;
}

.prince-middle span {
    color: inherit;
    font-weight: 500;
}

.prince-middle p {
    color: rgb(103, 113, 133);
    margin-left: 0.5rem;
}

.prine-end {
    display: flex;
}

.prine-end span {
    color: inherit;
    font-weight: 500;
}

.prine-end p {
    margin-left: 0.5rem;
    color: rgb(255, 68, 58);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.fourth-main-container {
    overflow: hidden;
}

.fourth-inner-main-container {
    box-sizing: content-box;
    max-width: 62.5rem;
    margin: 0px auto;
    padding: 0px 2.5rem;
    max-width: 80rem;
}

.fourth-inner-container {
    border-radius: 1.25rem;
    color: rgb(18, 29, 51);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(239, 236, 254, 0.5);
    background-image: url(images/background\ image.svg2.png);
    background-repeat: no-repeat;
    background-size: 625px;
    background-position: right bottom 2.5rem;
    min-height: 52.5rem;
    margin: 13.75rem auto;
    max-width: 80rem;
}

.fourth-right-container {
    color: rgb(115, 73, 242);
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    padding-left: 8.75rem;
    flex-shrink: 0;

}

.fourth-right-first {
    align-self: flex-start;
    background-color: rgb(239, 236, 254);
    border-radius: 1.25rem;
    color: rgb(115, 73, 242);
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1.25rem;
    padding: 1rem;
}

.fourth-right-first svg {
    height: 2rem;
    width: 2rem;
}

.fourth-right-first p {
    font-size: 18px;
    line-height: 25px;
    margin-left: 10px;
}

.heading-1 {
    color: inherit;
    margin: 0px 0px 1.875rem;
    max-width: 30.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
}

.forth-right-second {
    margin-bottom: 1.875rem;
    max-width: 30.5rem;
}

.forth-right-second-first {
    background-color: rgb(239, 236, 254);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.forth-right-second-first h3 {
    color: rgb(115, 73, 242);
    cursor: default;
    padding: 1rem 1.25rem 0px;
}

.forth-right-second-first p {
    max-height: 100%;
    opacity: 1;
    padding: 0.5rem 1.25rem 1rem;
    transition: all 500ms ease 0s;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.forth-right-second-second {
    background-color: rgb(247, 245, 255);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.forth-right-second-second h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.forth-right-second-third {
    background-color: rgb(247, 245, 255);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.forth-right-second-third h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.fouth-right-second-fourth {
    background-color: rgb(247, 245, 255);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.fouth-right-second-fourth h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.btn3 {
    margin-top: auto;
    width: fit-content;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background: rgb(115, 73, 242);
    text-decoration: none;
}

.fourth-left-container {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 5rem;
}

.fifth-main-container {
    max-width: 80rem;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 2.5rem;
}

.fifth-main-inner-container {
    background-color: rgba(236, 245, 254, 0.5);
    background-image: url(images/background3.png);
    background-position: left bottom 2.5rem;
    color: rgb(12, 108, 242);
    min-height: 52.5rem;
    margin: 3.75rem auto;
    max-width: 80rem;
    background-repeat: no-repeat;
    background-size: 625px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.25rem;
}

.fifth-right-container {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 8.75rem;
}

.fifth-right-container-one {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.fifth-left-container {
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}

.fifth-left-container-inner {}

.fifth-left-first {
    background-color: rgb(236, 245, 254);
    color: rgb(61, 137, 245);
    align-self: flex-start;
    border-radius: 1.25rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1.25rem;
    padding: 1rem;
}

.fifth-left-first svg {
    height: 2rem;
    width: 2rem;

}

.fifth-left-first p {
    font-size: 18px;
    line-height: 25px;
    margin-left: 10px;
    font-weight: 500;
}

.heading-2 {
    color: inherit;
    margin: 0px 0px 1.875rem;
    max-width: 30.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
}

.fifth-left-second {
    margin-bottom: 1.875rem;
    max-width: 30.5rem;
}

.fifth-left-second-first {
    background-color: rgb(236, 245, 254);
    border-color: rgb(216, 235, 253);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.fifth-left-second-first h3 {
    color: rgb(12, 108, 242);
    cursor: default;
    padding: 1rem 1.25rem 0px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    transition: color 0.25s ease 0s;
    z-index: 1;

}

.fifth-left-second-first p {
    max-height: 100%;
    opacity: 1;
    padding: 0.5rem 1.25rem 1rem;
    transition: all 500ms ease 0s;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    overflow: hidden;
    max-width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0px;
}

.fifth-left-second-second {
    background-color: rgb(245, 250, 254);
    border-color: rgb(216, 235, 253);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.fifth-left-second-second h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.fifth-left-second-third {
    background-color: rgb(245, 250, 254);
    border-color: rgb(216, 235, 253);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.fifth-left-second-third h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.fifth-left-second-fourth {
    background-color: rgb(245, 250, 254);
    border-color: rgb(216, 235, 253);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.fifth-left-second-fourth h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.btn4 {
    margin-top: auto;
    width: fit-content;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    background-color: rgb(12, 108, 242);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.sixth-main-container {
    max-width: 80rem;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 2.5rem;
}

.sixth-inner-container {
    background-color: rgb(240, 242, 247);
    background-image: url(images/background4.png);
    background-size: 625px;
    background-position: right center;
    display: flex;
    border-radius: 1.25rem;
    color: rgb(18, 29, 51);
    background-repeat: no-repeat;
    min-height: 52.5rem;
    margin: 3.75rem auto;
    max-width: 80rem;
}

.sixth-main-right {
    box-sizing: content-box;
    max-width: 488px;
    padding-top: 115px;
    padding-bottom: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 8.75rem;
    flex-shrink: 0;
}

.sixth-main-inner-right {
    align-self: flex-start;
    background-color: rgb(239, 236, 254);
    border-radius: 1.25rem;
    color: rgb(115, 73, 242);
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1.25rem;
    padding: 1rem;
    background-color: rgb(223, 227, 235);
    color: rgb(103, 113, 133);
}

.sixth-main-inner-right svg {
    height: 2rem;
    width: 2rem;
}

.sixth-main-inner-right span {
    margin: 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-left: 10px;
}

.sixth-main-right h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
    color: inherit;
    margin: 0px 0px 1.875rem;
    max-width: 30.5rem;
}

.sixth-main-right p {
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.sixth-main-right button {
    margin-top: 30px;
    width: fit-content;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background: rgb(103, 113, 133);
}

.sixth-main-left {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 5rem;
    flex-shrink: 0;
}

.seventh-main-container {
    max-width: 80rem;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 2.5rem;
}

.seventh-inner-main-container {
    background-color: rgba(255, 242, 229, 0.5);
    background-image: url(images/background5.png);
    background-size: 31.25rem;
    color: rgb(242, 139, 36);
    border-radius: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-repeat: no-repeat;
    background-position: right bottom 2.5rem;
    min-height: 52.5rem;
    margin: 3.75rem auto;
    max-width: 80rem;
}

.seventh-inner-container {
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 8.75rem;
}

.seventh-right-container {}

.seventh-right-first {
    background-color: rgb(255, 242, 229);
    color: rgb(242, 139, 36);
    align-self: flex-start;
    border-radius: 1.25rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1.25rem;
    padding: 1rem;
}

.seventh-right-first svg {
    height: 2rem;
    width: 2rem;
}

.seventh-right-first p {
    font-size: 18px;
    line-height: 25px;
    margin-left: 10px;
    font-weight: 500;
}

.heading-5 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
    color: inherit;
    margin: 0px 0px 1.875rem;
    max-width: 30.5rem;
}

.seventh-right-second {
    margin-bottom: 1.875rem;
    max-width: 30.5rem;
}

.seventh-right-second-first {
    background-color: rgb(255, 248, 242);
    border-color: rgb(250, 228, 205);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.seventh-right-second-first h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.seventh-right-second-first p {
    max-height: 0px;
    max-width: 80%;
    opacity: 0;
    overflow: hidden;
    padding: 0px 1.25rem;
    transition: all 0ms ease 0s;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.seventh-right-second-second {
    background-color: rgb(255, 248, 242);
    border-color: rgb(250, 228, 205);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.seventh-right-second-second h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.seventh-right-second-third {
    background-color: rgb(255, 248, 242);
    border-color: rgb(250, 228, 205);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.seventh-right-second-third h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.seventh-right-second-fourth {
    background-color: rgb(255, 248, 242);
    border-color: rgb(250, 228, 205);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

.seventh-right-second-fourth h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem 1.25rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
}

.btn5 {
    margin-top: auto;
    width: fit-content;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background: rgb(242, 139, 36);
}

.seventh-left-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.seventh-left-container img {
    left: 0px;
    position: absolute;
    border-style: none;
}

.eight-main-container {
    background-color: rgb(18, 29, 51);
    background-image: url(images/banner-bg.svg);
    background-repeat: no-repeat;
    background-size: 90rem;
    background-position: -0.0625rem center;
    color: rgb(255, 255, 255);
    padding: 80px 0px;
}

.eight-inner-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.eight-inner-container h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
    margin: 0px 32px 0px 0px;
}

.eight-inner-container button {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    color: rgb(12, 108, 242);
    background: rgb(255, 255, 255);
}

.ninth-main-container {
    position: relative;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.ninth-main-inner-container {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 2.5rem;
}

.ninth-inner-container {
    box-sizing: content-box;
    display: flex;
    margin: 0px auto;
    padding: 0px 2.5rem;
}

.ninth-main-inner-right {
    flex: 1 1 auto;
    margin-bottom: 4rem;
    line-height: 2.5rem;
    margin-right: 120px;
}

.ninth-inner-right-first {
    margin: 0.25rem 0px 0.6rem;
}

.ninth-inner-right-first svg {
    height: 1.5rem;
    width: 10.5rem;
    margin: 0px 2rem 0.4rem 0px;
}

.ninth-main-second-first {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.ninth-first-second {
    opacity: 0.75;
    color: rgb(18, 29, 51);
    transition: color 0.5s ease 0s;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.5rem;
    width: 11.25rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    background-color: transparent;
}

.ninth-first-second svg {
    margin-right: 1.5rem;
    color: rgb(29, 161, 242);
}

.ninth-first-second span {}

.ninth-left-inner-container {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ninth-left-first {
    flex: 1 1 auto;
    margin-bottom: 4rem;
    line-height: 2.5rem;
    margin-right: 120px;
}

.ninth-left-first p {
    color: rgb(18, 29, 51);
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.ninth-left-first span {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    margin-bottom: 16px;
    height: 24px;
    color: rgb(18, 29, 51);
    transition: color 0.5s ease 0s;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    opacity: 0.75;
}